/* containers */

.main-container {
    display: grid;
    max-width: 1000px;
    margin: auto;
    padding: 0 15px 10px 15px;
    height: 100%;
    grid-template-columns:  100%;
    align-items: start;
}

#home-content,
#contact-content {
    padding: 0 10px;
    margin-bottom: 50px;
}


/* Fonts */

h2 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

p {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* header */

header {
    margin-bottom: 100px;
    display: grid;
    justify-items: center;
    align-items: start;
    grid-template-columns:  100%;
}

.site-branding {
    display: grid;
    justify-items: center;
    padding-top: 20px;
}

.site-branding h1 {
    font-size: 60px;
    font-family: 'Cormorant', serif;
    line-height: 1;
    text-align: center;
}

.site-branding .logo {
    width: 60px;
}

.main-nav {
    display: grid;
    grid-template-columns: 90px 130px 140px 100px 230px 140px 120px;
    margin-top: 50px;
}

.nav-item {
    justify-self: center;
    position: relative;
}

.nav-title,
.nav-dropdown a {
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-title:hover,
.nav-dropdown a:hover,
.selected {
    font-weight: 500;
}

.nav-arrow {
    margin-left: 3px;
    transition-duration: 0.5s;
}

.nav-dropdown {
    font-size: 14px;
    margin-top: 10px;
    position: absolute;
    width: 110px;
    transition-duration: 0.5s;
    max-height: 0;
    overflow: hidden;
}

.nav-menu {
    display: none;
}


/* footer */

footer {
    display: grid;
    justify-items: center;
    align-self: end;
}

footer .logo {
    width: 50px;
    margin-bottom: 10px;
}

footer .copyright {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

footer .disclaimer {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

footer .disclaimer span {
    font-weight: 500;
}


/* Home Content */

.home-section {
    margin-bottom: 50px;
}

#home-content {
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

/* Contact Content */

#contact-content {
    margin-bottom: 0;
    align-self: start;
}

#contact-content a {
    color: black;
}

.content-section {
    margin-bottom: 50px;
}

/* Media Queries */

@media screen and (max-width: 975px) {

    header {
        margin-bottom: 20px;
    }
    
    .site-branding {
        margin-bottom: 20px;
    } 
    
    .nav-menu {
        display: block;
        font-size: 28px;
     }

     .main-nav {
        flex-direction: column;
        margin-top: 20px;
        padding-left: 150px;
        display: none;
        
        
     }
     .nav-item {
        min-width: 250px;
        margin-bottom: 10px;
        
       
     }
     .nav-dropdown {
        position: relative;
        margin: 0;
     }
     
     .no-dropdown-first {
        
     }

     .no-dropdown-last {
       
     }

}

@media screen and (max-width: 480px) {

    header {
        margin-bottom: 10px;
    }

    .site-branding .logo {
        width: 45px;
        margin-top: 10px;
    }

    .site-branding h1 {
        font-size: 45px;
    }
    
}