/* containers */

.main-container {
    display: grid;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 10px;
}

#home-content {
    display: grid;
    justify-items: start;
    padding: 0 10px;
    margin-bottom: 50px;
}

#author-info {
    border-bottom: 1px solid black;
    padding-bottom: 50px;
}


/* Fonts */

h2 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

p {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* header */

header {
    margin-bottom: 100px;
    display: grid;
    justify-items: center;
}

.site-branding {
    display: grid;
    justify-items: center;
    padding-top: 20px;
}

.site-branding h1 {
    font-size: 60px;
    font-family: 'Cormorant', serif;
    line-height: 1;
}

.site-branding .logo {
    width: 60px;
}

.main-nav {
    display: grid;
    justify-items: stretch;
    grid-template-columns: 90px 130px 140px 100px 230px 140px 120px;
    margin-top: 50px;
}

.nav-item {
    justify-self: center;
    position: relative;
}

.nav-title,
.nav-dropdown a {
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-title:hover,
.nav-dropdown a:hover {
    font-weight: 500;
}

.nav-arrow {
    margin-left: 3px;
    transition-duration: 0.5s;
}

.nav-dropdown {
    font-size: 14px;
    margin-top: 10px;
    position: absolute;
    width: 110px;
    transition-duration: 0.5s;
    max-height: 0;
    overflow: hidden;
}


/* footer */

footer {
    display: grid;
    justify-items: center;
}

footer .logo {
    width: 50px;
    margin-bottom: 10px;
}

footer .copyright {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

footer .disclaimer {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

footer .disclaimer span {
    font-weight: 500;
}


/* Home Content */

.home-section {
    margin-bottom: 50px;
}


